<!--we will make the viiew of our components here
<app-hello-world></app-hello-world>
<hr />
{{title}}
Template expressions, similar to js
<hr />
Result is: {{1+1}}
<hr />
Result is {{getMin(5,3)}}
<hr />
<app-parent></app-parent>
 we apply the pseudoclass into the host component
<hr />
<div class="theme-light"></div>
<app-child class = "active"></app-child>
<app-child>
   <h3 question>¿is it a nice day today?</h3>
   <p answer> yes it is !</p>
</app-child>

<hr />
<button click="toggleText($event)">toggleText</button>
{{showText}}-->
<!--{{todaysDate | date :'short' | uppercase}} -->

{{'World' | greetings}}